*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    height: 50px;
}

.logosuperiore{
    border: 1px solid red;
    background-image: url(../img/img/pattern.png);
    background-size: 28%;
    background-color: #4ea0ff;
    padding-top: 30px;
    padding-bottom: 10px;
}

.f-blue{
    color: royalblue;
}


.f-small{
    font-size: 0.7em;
}

.giallo{
    background-color: yellow;
}

li{
    margin-left: 1em;
}

table{
    border-spacing: 0;
    text-align: left;
}

.tbblue{
    background-color: #4ea0ff;
    color: white;
}

.colorlight{
    background-color: lightblue;
}

.f-white{
    color: white;
    text-align: center;
    font-size: 1.3rem;
}

.widht-20{
    width: 20%;
}

#img-computer{
    background-image: url(../img/img/monitor.jpg);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#img-dati{
    background-image: url(../img/img/graph.jpg);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.m-y-20{
    margin-top: 20px;
    margin-bottom: 20px;
}