*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    height: 50px;
}

.logosuperiore{
    border: 1px solid red;
    background-image: url(../img/img/pattern.png);
    background-size: 28%;
    background-color: #4ea0ff;
    padding-top: 30px;
    padding-bottom: 10px;
}

.f-blue{
    color: royalblue;
}

.f-small{
    font-size: 0.7em;
}

.giallo{
    background-color: yellow;
}

li{
    margin-left: 1em;
}